<div class="list__nav">
  <input id="list__name" type="text" readonly value="<%= @list.name %>" />
  <div class="list__nav--buttons">
    <% if @list.user_id == current_user.id %>
      <%= link_to 'Edit List', edit_list_path(@list), class: 'button', id: 'edit__button' %>
      <%= button_to 'Delete List', list_path(@list), method: :delete, class: 'list__form--destroy button' %>
    <% end %>
  </div>
</div>

<%= form_for([@list, @task]) do |f| %>
  <fieldset>
    <%= f.text_field :description, placeholder: "Create New Task", autofocus: true %>
  </fieldset>
  <fieldset>
    <%= f.submit :style => "display: none" %>
  </fieldset>
<% end %>

<ul class="task__list">
  <%= render collection: @list.tasks, partial: "tasks/task_li", as: :task %>
</ul>
