<h1><%= @list.name %></h1>

<%= form_for([@list, @task]) do |f| %>
  <%= f.text_field :description, placeholder: (@task.errors.full_messages_for(:description).first || "Create New List") %>
  <%= f.submit :style => "display: none" %>
<% end %>

<ul>
  <% @list.tasks.each do |task| %>
    <li>
      <%= form_for([@list, task]) do |f| %>
        <!-- <input id="<#%= task.list.name.downcase.parameterize %>-<%#= task.id %>" type="checkbox" <%#= "checked" if task.complete? %> /> -->
        <%= f.check_box :status, id: "#{task.list.name.downcase.parameterize}-#{task.id}", checked: (true if task.complete?) %>
        <label for="<%= task.list.name.downcase.parameterize %>-<%= task.id %>">
          <span><%= task.description %></span>
        </label>
      <% end %>
    </li>
  <% end %>
</ul>
