<h1><%= @list.name %></h1>
<%= button_to 'delete list', list_path(@list), method: :delete, class: 'list__form--destroy' %>

<%= form_for([@list, @task]) do |f| %>
  <fieldset>
    <%= f.text_field :description, placeholder: "Create New Task" %>
  </fieldset>
  <fieldset>
    <%= f.submit :style => "display: none" %>
  </fieldset>
<% end %>

<ul class="task__list">
  <%= render collection: @list.tasks, partial: "tasks/task_li", as: :task %>
</ul>
