<h1>Login!</h1>
<%= form_tag(sessions_path) do %>
  <fieldset>
    <%= label_tag :email, 'Email or Username' %>
    <%= text_field_tag :email, '', placeholder: 'first@last.com or firstlast'  %>
  </fieldset>
  <fieldset>
    <%= label_tag :password %>
    <%= password_field_tag :password, '', placeholder: 'password'  %>
  </fieldset>
  <fieldset>
    <%= submit_tag %>
  </fieldset>

  <%= link_to "Login with GitHub", '/auth/github' %>
<% end %>
