<li class="task__list--item">
  <%= form_for([@list, task], class: 'task__form') do |f| %>
    <%= f.check_box :status, id: task_for_text(task), checked: task.complete? %>
    <label for="<%= task_for_text(task) %>">
      <span><%= task.description %></span>
    </label>
  <% end %>

  <% if @task.user_id == current_user.id %>
    <%= button_to 'Delete Task', list_task_path(task.list, task), method: :delete, class: 'task__form--destroy button' %>
  <% end %>
</li>
