<li class="task__list--item">
  <%= form_for([@list, task], class: 'task__form') do |f| %>
    <%= f.check_box :status, id: task_for_text(task), checked: task.complete? %>
    <label for="<%= task_for_text(task) %>">
      <span><%= task.description %></span>
    </label>
  <% end %>
  <button class="button task__form--destroy" id="delete__task" data-task-id="<%= task.id %>" data-list-id="<%= @list.id %>">Delete Task</button>
  <%= link_to 'View Task', list_task_path(task.list, task), class: 'button' %>
</li>
