<%= form_for(@user) do |f| %>
  <h1>Sign Up</h1>
  <fieldset>
    <%= f.label :name do %>
      Name
      <%= f.text_field :name, value: @user.name, autofocus: true %>
    <% end %>
  </fieldset>
  <fieldset>
    <%= f.label :username do %>
      Username
      <%= f.text_field :username, value: @user.username %>
    <% end %>
  </fieldset>
  <fieldset>
    <%= f.label :email do %>
      Email
      <%= f.email_field :email, value: @user.email %>
    <% end %>
  </fieldset>
  <fieldset>
    <%= f.label :password do %>
      Password
      <%= f.password_field :password %>
    <% end %>
  </fieldset>
  <fieldset>
    <%= f.button 'Sign Up' %>
  </fieldset>
  <p>Already have an account? <%= link_to 'Sign in', signin_path %>.</p>
  <%= link_to "Sign up with GitHub", '/auth/github' %>
  <%= link_to "Sign up with Twitter", '/auth/twitter' %>
<% end %>
