<!DOCTYPE html>
<html>
  <head>
    <title><%= if content_for?(:title) then yield(:title) + ' | ' end %>TASK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0474F3">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="branding">
        <%= link_to 'TASK', root_path %>
      </div>
      <% if current_user %>
        <h1>Hi, <%= current_user.username %>!</h1>
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in", signin_path %>
      <% end %>
    </header>

    <% if flash[:error] %>
      <ul class="flash">
        <% flash[:error].each do |message| %>
          <li class="error"><%= message.html_safe %></li>
        <% end %>
      </ul>
    <% end %>
    <% if flash[:notice] %>
      <ul class="flash">
        <% flash[:notice].each do |message| %>
          <li class="notice"><%= message.html_safe %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
