<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_tag(:p, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:p, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:p, flash[:alert], :id => "flash_alert") if flash[:alert] %>

    <% if current_user %>
      <h1>Hi, <%= current_user.username %>!</h1>
      <%= link_to "Sign out", signout_path %>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
